<h3>確認</h3>
<%= form_with(model: @blog,local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>本文:<%= @blog.content %></p>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :image_cache %>
  <p>画像:<%= image_tag(@blog.image.url) if @blog.image && @blog.image.url%></p>
  <%= form.hidden_field :user %>
  <p>投稿者:<%= @blog.user.name %></p>
  <%= form.submit  "登録" %>
<% end %>
